/**************************
 ** Reset start
***************************/
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}
/**************************
 ** Reset end
***************************/

/**************************
 ** variables start
***************************/
:root {
  --primaryColor: hsl(208, 33%, 47%);
  --mainFontColor: hsl(0, 0%, 15%);
  --mainFontSize: 18px;
  --letterSpacing: 0.15em;
}

/**************************
 ** Variables end
***************************/

/**********************************************
** Header including Navigation and Hero start  
***********************************************/

.header-container {
  background: url("heroImg.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.nav-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3)
  );
  height: 100vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  width: 50%;
  height: max-content;
}

.nav-item a {
  color: white;
  font-size: 1.25rem;
  letter-spacing: var(--letterSpacing);
}

.nav-item:hover a {
  border-bottom: 2px solid var(--primaryColor);
}

.logo-header {
  height: 5%;
}

.browse-btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  outline: none;
  border: 5px solid var(--primaryColor);
  padding: 0.25em 0.75em;
  font-size: 2.5rem;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.browse-btn a {
  color: var(--primaryColor);
  letter-spacing: var(--letterSpacing);
  transition: all 0.3s ease-in-out 0.1s;
}

.browse-btn:hover {
  background-color: var(--primaryColor);
}

.browse-btn:hover a {
  color: white;
}

.fa-cart-plus {
  color: var(--primaryColor);
  /* background-color: yellow; */
  font-size: 1.5rem;
  position: relative;
}

.cart-amount {
  position: absolute;
  left: 50%;
  bottom: 50%;
  font-size: 1.2rem;
  transform: translateX(-50%);
  background-color: var(--primaryColor);
  color: white;
  padding: 0.15em;
  border-radius: 50%;
}
/**********************************************
** Header including Navigation and Hero end  
***********************************************/
