/**************************
 ** Reset start
***************************/
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

li {
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  padding: 0 4.75rem;
}

button {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/**************************
 ** Reset end
***************************/

/**************************
 ** variables start
***************************/
:root {
  --primaryColor: hsl(208, 33%, 47%);
  --secondaryColor: hsl(243, 100%, 69%);
  --thirdColor: hsl(180, 100%, 50%);
  --mainFontColor: hsl(0, 0%, 15%);
  --mainFontSize: 18px;
  --letterSpacing: 0.15em;
}

/**************************
 ** Variables end
***************************/

/**********************************************
** Header including Navigation and Hero start  
***********************************************/

.header-container {
  background: url("heroImg.jpg");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.nav-container {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3)
  );
  height: 100vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: yellow; */
  width: 50%;
  height: max-content;
}

.nav-item a {
  color: white;
  font-size: 1.25rem;
  letter-spacing: var(--letterSpacing);
}

.nav-item:hover a {
  border-bottom: 3px solid var(--primaryColor);
}

.logo-header {
  height: 50px;
  width: 200px;
}

.browse-btn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  outline: none;
  border: 5px solid var(--primaryColor);
  padding: 0.25em 0.75em;
  font-size: 2.5rem;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.browse-btn a {
  color: var(--primaryColor);
  letter-spacing: var(--letterSpacing);
  transition: all 0.3s ease-in-out 0.1s;
}

.browse-btn:hover {
  background-color: var(--primaryColor);
}

.browse-btn:hover a {
  color: white;
}

.fa-shopping-cart {
  color: hsl(0, 0%, 100%);
  /* background-color: yellow; */
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
}

.cart-amount-container {
  position: relative;
}

.cart-amount {
  position: absolute;
  left: 50%;
  bottom: 50%;
  font-size: 1.2rem;
  transform: translateX(-50%);
  background-color: var(--primaryColor);
  color: white;
  padding: 0.15em 0.2em;
  border-radius: 50%;
}
/**********************************************
** Header including Navigation and Hero end  
***********************************************/

/*****************************************************
** Latest collection section including carousel start  
*****************************************************/
.latest-apparel-container {
  margin: 1.25rem auto;
  /* background-color: salmon; */
}

.latest-title {
  background-image: linear-gradient(
    90deg,
    var(--primaryColor),
    var(--thirdColor)
  );
  text-align: center;
  padding: 1em;
  font-size: 2.5rem;
  color: white;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
}

.latest-carousel-container {
  display: flex;
  /* background-color: rosybrown; */
  justify-content: space-between;
  /* border: 2px solid black; */
  margin-top: 1.5rem;
  padding: 1rem 0.5rem;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.35);
}

.latest-carousel {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  margin: 0 0.5rem;
}

.carousel-btn {
  font-size: 2.5rem;
  height: max-content;
  align-self: center;
  padding: 0.65em 0.35em;
  background-color: hsl(0, 0%, 90%);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-btn:hover {
  background-color: hsl(0, 0%, 84%);
}

.latest-slide-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
  flex-grow: 3;
  flex-shrink: 0;
  /* border: 1.5px solid black; */
  margin: 0 0.5rem;
  box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
  padding: 0.25em 0.4em;
}

.slideImg {
  height: 70%;
  width: 100%;
}

.add-to-cart {
  padding: 0.3em 0.75em;
  font-size: 1.25rem;
  letter-spacing: 0.1em;
  background-color: var(--secondaryColor);
  color: white;
}

.add-to-cart:hover {
  background-color: hsl(243, 100%, 74%);
}
/*****************************************************
** Latest collection section including carousel end  
*****************************************************/

/*****************************************************
** Shop men and women section start 
*****************************************************/
.shop-men-women {
  /* background-color: rosybrown; */
  display: flex;

  /* height: 70vh; */
  padding: 0.75rem;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.35);
  /* position: relative; */
}

.shop-men-women-img {
  height: 100%;
  width: 50%;
}

.shop-men-women-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* font-size: 0.2rem; */
  /* border: 2px solid black; */
  justify-content: space-around;
  align-items: center;
}

.shop-men,
.shop-women {
  width: 90%;
  border: 5px solid white;
  padding: 0.7em;
  color: white;
  font-size: 1.25rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), 0px 0px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-men {
  background-color: hsl(244, 17%, 28%);
}

.shop-women {
  background-color: hsl(243, 100%, 69%);
  margin-top: 1rem;
}

.shop-men-title,
.shop-women-title {
  margin-bottom: 0.5rem;
}

.shop-text {
  line-height: 1.6rem;
  text-align: center;
}

.shop-men-women-btn {
  padding: 0.5em 2.75em;
  font-size: 1.25rem;
  color: white;
  margin-top: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.shop-men-btn {
  background-color: hsl(243, 100%, 69%);
}

.shop-men-btn:hover {
  background-color: hsl(243, 100%, 75%);
}

.shop-women-btn {
  background-color: hsl(244, 17%, 28%);
}

.shop-women-btn:hover {
  background-color: hsl(244, 17%, 34%);
}

/*****************************************************
** Shop men and women section end 
*****************************************************/

/*****************************************************
** Newsletter Section start 
*****************************************************/

.newsletter-section {
  /* background-color: sandybrown; */
  margin: 1.25rem 0;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.35);
}

.newsletter-title {
  text-align: center;
  font-size: 2.5rem;
  background: linear-gradient(90deg, var(--primaryColor), var(--thirdColor));
  color: white;
  padding: 1em;
  margin-bottom: 1rem;
}

.newsletter-img-btn-container {
  display: flex;
  justify-content: space-between;
}

.newsletter-img {
  width: 50%;
}

.newsletter-btn {
  height: max-content;
  margin-right: 25%;
  align-self: center;
  font-size: 2rem;
  padding: 0.5em 1.5em;
  background-color: hsl(243, 100%, 69%);
  color: white;
  /* border: none; */
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3),
    1.5px 2.5px 4.5px rgba(0, 0, 0, 0.35), 2px 3px 5px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.newsletter-btn:hover {
  background-color: hsl(243, 100%, 74%);
}

/*****************************************************
** Newsletter Section end
*****************************************************/

/*****************************************************
** Footer start
*****************************************************/

footer {
  display: flex;
  justify-content: space-around;
  background: hsl(244, 17%, 48%);
  padding: 4rem 0;
  position: relative;
}

.footer-left {
  display: flex;
  flex-direction: column;
  /* border: 5px solid green; */
}

.contact-title {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.contact-email {
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

.contact-phone {
  font-size: 1.6rem;
}

.logo-footer {
  height: 50px;
  width: 200px;
  position: absolute;
  bottom: 5%;
  left: 2%;
}

.footer-right {
  display: flex;
  flex-direction: column;
  /* border: 5px solid pink; */
}

.social-links-container {
  margin-bottom: 1.5rem;
}

.social-title {
  font-size: 2rem;
}

.social-icons-container,
.payment-icons-container {
  font-size: 2.25rem;
}

.social-icons-container .fab {
  transition: color 0.3s ease-in-out;
}

.social-icons-container .fab:hover {
  color: var(--secondaryColor);
}

.payment-method-container {
  margin-bottom: 1.5rem;
}

.payment-title {
  font-size: 2rem;
}

.refound-terms-container {
  /* border: 3px solid pink; */
  display: flex;
  justify-content: space-between;
}

.refound-term-btn {
  padding: 0.5em 0.75em;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--secondaryColor);
}

.refound-term-btn:first-child {
  margin-right: 1rem;
}

.refound-term-btn a {
  color: white;
}

.refound-term-btn:hover {
  background-color: hsl(243, 100%, 74%);
}

/*****************************************************
** Footer end
*****************************************************/
